<div class="nav-container">
  <div class="nav">
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Covid and stuff</label>
      <ul>
        <li>
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Home</a
          >
        </li>
        <li><a routerLinkActive="active" routerLink="/map">Map</a></li>
        <li><a routerLinkActive="active" routerLink="/chart">Chart</a></li>
        <li><a routerLinkActive="active" routerLink="/country">Country</a></li>
        <li>
          <a routerLinkActive="active" routerLink="/all">All countries</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/timeline">Timeline</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
